<div class="reviews-container">
    <h2 class="title">Customer Reviews</h2>
    <p class="subtitle">See what our customers are saying about us!</p>
    <div class="reviews-wrapper">
      <div class="review-card" *ngFor="let review of reviews">
        <div class="review-header">
          <h3 class="reviewer-name">{{ review.name }}</h3>
          <span class="review-date">{{ review.date }}</span>
        </div>
        <div class="review-rating">
          <ng-container *ngFor="let star of [].constructor(review.rating)">
            <i class="fas fa-star filled"></i>
          </ng-container>
          <ng-container *ngFor="let star of [].constructor(5 - review.rating)">
            <i class="fas fa-star empty"></i>
          </ng-container>
        </div>
        <p class="review-comment">{{ review.comment }}</p>
      </div>
    </div>
  </div>